body{
    margin: 0;
    padding: 0;
}

/*- - - - - - class   - - - - - - */

.bgi{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/*- - - - - - H E A D E R   - - - - - - */
.headerTop {
    display: grid;
    grid-template-columns: repeat(8, 0.2fr);
    color: white;

    position: relative;
    width: 100%;
    height: 300px; 
    overflow: hidden; 
    padding: 30px;


    background-image: url('../images/header1_lg.jpg');

}

.headerTop::after {
    content: ''; 
    position: absolute;
    bottom: 0; 
    left: 0;
    width: 100%;
    height: 50px; 
    background-color: rgba(0, 0, 0, 0.5);
}
.c1{
    grid-column:2/3;
}
.c2{
    grid-column:3/8;
}
.c2 p{
    font-size: large;
}
.c2 h1{
    text-transform: uppercase;
}
.c2 button{
    color: #2ebadf;
    background-color: white;
    border-radius: 5px;
}
/*- - - - - - H E A D E R END   - - - - - - */

/*- - - - - - N A V  - - - - - - */
.logo{
    width: 5%;

}
nav{
    display: flex;
    background-color: #212f54;
    padding: 10px;
    padding-left: 5%;
    padding-right: 5%;
    box-shadow: 0 6px 5px rgba(0, 0, 0, 0.2); 
}
ul{
    width: 100%;
    gap: 20px;
    display: flex;
    padding: 10px;
    margin-bottom: 0;
    justify-content: end;
    align-items: center;
}
ul li{
    justify-content: end;
    list-style: none;
    font-weight: bold;
}
ul li button{
    color: white;
    padding: 1px 5px;
    font-weight: bold;
    border-radius: 5px;
    background-color: #14b1e8;
}
ul li a{
    color: white;
    text-decoration: none;
}


/*- - - - - - N A V END   - - - - - - */

/*- - - - - - B O D Y   - - - - - - */

.grid{
    margin-top: 28px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.title{
    padding-right: 10px;
    color: #3abadf;
    font-weight: bold;
    justify-self: end;
    align-self: center;
    font-size: xx-large;
}
.p{
    padding-left: 10px;
    border-left: solid rgba(0, 0, 0, 0.432) 1px;
    grid-column: 2/4;
}

/*- - - - - - B O D Y END   - - - - - - */

.card-container{
    display: grid;
    gap: 15px;
    grid-template-columns: repeat(3, 1fr);
}
.card {
    border: 1px solid #ccc; 
    padding: 20px; 
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2); 
    
}

.card img {
    max-width: 100%; 
    height: auto; 
}

.card h3 {
    padding: 5px;
    color: white;
    margin-top: -55px;
    text-align: center; 
    background-color: rgba(255, 255, 255, 0.575);
}

/*- - - - - - C O N T A I N E R 2 END   - - - - - - */
.secondT{
    color: white;
}
.second{
    display: grid;
    grid-template-columns: repeat(4, 1fr);

    width: 100%;
    padding: 50px;
    color: white;

    background-image: url('../images/ctaBG1_lg.jpg');
  
}

/*- - - - - - imgs    - - - - - - */

.imgGrid{
    margin-top: 50px;
    margin-left: 100px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}
.imgGrid img {
    border: solid 4px rgba(0, 0, 0, 0.274);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    max-height: 300px;
    position: relative;
    z-index: 1;
}

.items {
    display: grid;
}

/* Adjust the position of the images */
.item1{
    transform: rotateZ(-25%);
}
.item2  {
    transform: translateX(-15%);
}

.item3  {
    transform: translateX(-50%);
}
.item4  {
    transform: translateX(-85%);
}
.item5  {
    transform: translateX(-105%);
}
